.cards{
    width: 100%;
    display: flex;
    border: solid 1px gray;
    padding: 0;
}
.cards img{
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
   
}

.info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: start;
    align-items: flex-start;
}
.info p{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.title{
    margin-bottom: 20px;
}

.icons{
    margin-right: 15px;
    font-size: 20px;
    color: rgb(146, 141, 141);
}
.icon2{
    border: none;
    background-color: white;
    font-size: 20px;
}